html{
  position: relative;
  min-height: 100%;
}
/*.wrap {this class will be for main container class
  /* Margin bottom by footer height
  margin-bottom: 250px;
}
.page_footer{
	/*position: absolute;
} */

.page_footer,.admin_footer{
    bottom: 0;
    width: 100%;
    background-color: #222222;
    background-position: center;
    text-align: center;
    color: white;
    height: 250px;
}